.features {
  padding: 83px 0 100px;
  background-color: $color-seal-brown;

  @include viewport--md {
    padding-bottom: 102px;
  }

  @include viewport--sm {
    padding-top: 56px;
    padding-bottom: 58px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lead {
    font-weight: 400;
  }

  .title {
    @include viewport--sm {
      margin-bottom: 23px;
    }
  }

  &__list {
    margin: 35px 0 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
    height: 301px;
    width: 98%;

    @include viewport--md {
      flex-direction: column;
      height: auto;
      width: 100%;
      margin-top: 52px;
    }

    @include viewport--sm {
      margin-top: 26px;
    }
  }

  &__item {
    margin-right: 40px;
    height: 100%;
    width: 33.3%;

    background-color: $color-aubergine;

    &:last-child {
      margin-right: 0;
    }

    @include viewport--md {
      margin-right: 0;
      margin-bottom: 44px;
      width: 360px;
      min-height: 306px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include viewport--sm {
      width: 292px;
      min-height: 248px;
      margin-bottom: 30px;
    }
  }

  &__text {
    max-width: 225px;
    margin: 30px 0 0;

    text-align: center;
    line-height: 26px;
    font-weight: 300;

    @include viewport--md {
      margin-top: 35px;
    }

    @include viewport--sm {
      margin-top: 17px;
      max-width: 215px;

      font-size: 14px;
      line-height: 20px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 18px 20px;
    height: calc(100% - 35px);
    padding-top: 18px;

    transition: color $default-transition-settings;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: $color-muesli;
        transition: background-color $default-transition-settings;

        svg {
          fill: $color-default-white;
          stroke: $color-muesli;
        }
      }
    }

    @include viewport--md {
      padding-top: 48px;
    }

    @include viewport--sm {
      padding-top: 36px;
    }
  }

  &__icon {
    fill: $color-muesli;
    stroke: $color-aubergine;
    stroke-width: 2;

    &--consult {
      height: 108px;
    }

    @include viewport--sm {
      &--vet {
        width: 80px;
        height: 88px;
      }

      &--consult {
        width: 80px;
        height: 80px;
      }

      &--feed {
        width: 57px;
        height: 88px;
      }
    }
  }
}
