.social__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.social__link {
  padding: 3px 10px 5px;
  display: grid;
  height: 24px;
  width: 33px;

  transition: color $default-transition-settings;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-muesli;
      transition: color $default-transition-settings;
    }
  }

  svg {
    place-self: center;
  }

  @include viewport--md {
    padding: 3px;
    width: 25px;
  }
}

.social--beige {
  .social__list {
    flex-direction: row;
  }

  .social__item:not(:last-child) {
    margin-right: 16px;
  }

  .social__link {
    width: 28px;
    height: 28px;
    padding: 3px;
    color: $color-muesli;
    transition: color $default-transition-settings, background-color $default-transition-settings;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-default-white;
        background-color: $color-muesli;
        transition: color $default-transition-settings, background-color $default-transition-settings;
      }
    }
  }
}

.social--bordered {
  .social__link {
    border: 1px solid $color-muesli;
  }
}
