.social__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
}

.social__link {
  padding: 3px 10px 5px;
  display: grid;
  height: 24px;
  width: 33px;

  transition: color $default-transition-settings;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-muesli;
      transition: color $default-transition-settings;
    }
  }

  svg {
    place-self: center;
  }

  @include viewport--md {
    padding: 3px;
    width: 25px;
  }
}
